<div style="text-align: center;">
    <br><br><br>
    <button type="button" class="btn btn-warning" routerLink="adduser" *ngIf="userShow"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp; Add-User</button>
    <br><br><br>
    <button type="button" class="btn btn-dark" routerLink="students"><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp; Students List</button>
    <br><br><br>
    <button type="button" class="btn btn-dark" routerLink="stdadd"><i class="fa fa-plus-square-o" aria-hidden="true"></i>&nbsp; Enrollment Student</button>
    <br><br><br>
    <button type="button" class="btn btn-dark" routerLink="institute"><i class="fa fa-university" aria-hidden="true"></i>&nbsp; Institute Details</button>
    <br><br><br>
    <button type="button" class="btn btn-dark" routerLink="course"><i class="fa fa-book" aria-hidden="true"></i>&nbsp; Courses</button>
</div>