<div style="overflow-y:auto; height: 570px;">
    <form #stdData="ngForm" (ngSubmit)="sendData(stdData.value)">
        <h3 style="text-align: center;"><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp; Edit Student
            Details &nbsp;<i class="fa fa-graduation-cap" aria-hidden="true"></i></h3>
        <div class="from-group">
            <label>Enter Student Name:</label>
            <input type="text" name="name" class="form-control" #refname="ngModel" [ngModel]="stdObj?.stdName" required>
        </div>
        <div *ngIf="refname.invalid && refname.touched">
            <div class="alert alert-danger" *ngIf="refname.hasError('required')">
                This Field is Required
            </div>
        </div>
        <div class="from-group">
            <label>Enter Your Contact Number:</label>
            <input type="number" name="contact" #refcontact="ngModel" class="form-control" [ngModel]="stdObj?.contact" required>
        </div>
        <div *ngIf="refcontact.invalid && refcontact.touched">
            <div class="alert alert-danger" *ngIf="refcontact.hasError('required')">
                This Field is Required
            </div>
        </div>
        <div class="from-group">
            <label>Enter Your Email Address:</label>
            <input type="email" name="email" #refemail="ngModel" class="form-control" [ngModel]="stdObj?.stdEmail" required>
        </div>
        <div *ngIf="refemail.invalid && refemail.touched">
            <div class="alert alert-danger" *ngIf="refemail.hasError('required')">
                This Field is Required
            </div>
        </div>
        <div class="form-group">
            <label>Spicialization</label>
            <input type="text" name="specialization" #refsp="ngModel" class="form-control" [ngModel]="stdObj?.specialization" required>
        </div>
        <div *ngIf="refsp.invalid && refsp.touched">
            <div class="alert alert-danger" *ngIf="refsp.hasError('required')">
                This Field is Required
            </div>
        </div>
        <div class="form-group">
            <label>Name of Collage</label>
            <input type="text" name="collage" #refcoll="ngModel" class="form-control" [ngModel]="stdObj?.collage" required>
        </div>
        <div *ngIf="refcoll.invalid && refcoll.touched">
            <div class="alert alert-danger" *ngIf="refcoll.hasError('required')">
                This Field is Required
            </div>
        </div>
        <div class="form-group">
            <label>City</label>
            <input type="text" name="city" #refcity="ngModel" class="form-control" [ngModel]="stdObj?.city" required>
        </div>
        <div *ngIf="refcity.invalid && refcity.touched">
            <div class="alert alert-danger" *ngIf="refcity.hasError('required')">
                This Field is Required
            </div>
        </div>
        <br>
        <div style="text-align: center;">
            <button type="submit" class="btn btn-info">submit</button>
        </div>
    </form>

</div>