<button type="button" style="float: right; margin-right: 10px;" class="btn btn-outline-danger" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp; Logout</button>
<span  style="float: right;margin-right: 20px;" *ngIf="_router.url=='/adduser'">Click here to add New-User&nbsp;&nbsp;&#8649;&nbsp;&nbsp;<button type="button" class="btn btn-outline-success" routerLink="register" *ngIf="_router.url=='/adduser'"><i class="fa fa-registered" aria-hidden="true"></i>&nbsp; Register</button></span>

